div {display: inline-block;} /*selector agar semua terhubung*/
.satu {
	height: 200px;
	width: 200px;
	background-color: lightgreen;
	margin-left: 100px; /*kiri*/
	margin-top: 30px; /*atas*/
	margin-bottom: 150px; /*bawah*/
	margin-right: 50px; /*kanan*/
}

.dua {
	height: 100px;
	width: 100px;
	background-color: lightblue;
	/*margin-left: auto; #bisa automatic
	margin: 50px 100px; 50 itu atas bawah & kiri kanan 100
	margin: 50px 100px 50px; atas, kiri-kanan, bawah
	margin 4 niali : 10px 2px 30px 40px; dibaca sesuai arah jarum jam*/
}

.tiga {
	height: 50px;
	width: 50px;
	background-color: violet;
	margin-left: -10px;
}

/*overlapping margin, yaitu ketika position vertikal image bottom atas 50 & top bawah 30 maka yg menang 50. yg horizontal sebaliknya bisa bertambah
negatif margin, (-) jika semakin besar mines maka akan semakin besar jaraknya. Contoh dua dan tiga*/
property : auto, maka margin akan menyesuaikan